---
layout: base.njk
---
{% set noheroimage = [] %}
{% import "macros/_insert.njk" as insert %}
<article class="main-article  ">
  <div class="section  ">
    <div class="container pt-64">
      <h2 class=" pt-64 fluid-3-r">
        Prompt Generator <br>
      </h2>
      <h2 class="mb-64  fluid-5-r">
        for seo markdown
      </h2>
      <form id="myForm">

        <div class="row">
          <div class="col-xs-6">
              <div class="row text-12-r">
                  <div class="col-xs-12">
                      <input placeholder=" Website" class="input" type="text" id="input8" name="input8"><br>
                      <input placeholder=" Expert in " class="input" type="text" id="input1" name="input1"><br>
                      <input placeholder=" What is the post about?" class="input" type="text" id="input2" name="input2"><br>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-6">
                      <input placeholder=" Main Keyword" class="input" type="text" id="input4" name="input4"><br>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-4">
                      <input placeholder=" Keyword 1" class="input" type="text" id="input5" name="input5"><br>
                  </div>
                  <div class="col-xs-4">
                      <input placeholder=" Keyword 2" class="input" type="text" id="input6" name="input6"><br>
                  </div>
                  <div class="col-xs-4">
                      <input placeholder=" Keyword 3" class="input" class="btn mb-24" type="text" id="input7" name="input7"><br>
                  </div>
              </div>
              <div class="row mb-24">
                  <div class="col-xs-6">
                      <input placeholder=" Post length" class="input" type="text" id="input3" name="input3"> <br>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-6">
                      <button type="button" class="btn btn-primary btn--full" value="Generate text" onclick="generarTexto()">Generate Prompt</button>
                  </div>
              </div>
          </div>
          <div class="col-xs-6">
              <div id="resultadowrap" class=" hidden">
                  <div id="resultado" class="text-12-r p-16 border-1 mb-64 "></div>
              </div>
              <button id="contarboton" class="btn btn-secondary hidden mb-24" onclick="copiarTexto()">Copy text</button>
              <p id="contador"></p>
          </div>
      </div>


      </form>
    </div>
  </div>
  <section class="inview ptr-120 pbr-120">
    <div class="container ">
      <span class="c-primary fluid-5-r ">Quieres convertirte en experto en inteligencia artificial ? </span>
      <span class="fluid-5-r pt-64 pb-64 c-secondary">
        {% call insert.splitenpalabras('Accede al centro líder en design systems, ofreciendo cursos, repositorios y herramientas de primera calidad para tu desarrollo en este campo. ') %} {% endcall %}
      </span>
    </div>
  </section>

</article>
<script>
  function generarTexto() {
    event.preventDefault();

    var contarboton = document.getElementById('contarboton');
    var resultadowrap = document.getElementById('resultadowrap');






    contarboton.classList.remove('hidden');
    resultadowrap.classList.remove('hidden');
    

    var palabra1 = document.getElementById("input1").value;
    var palabra2 = document.getElementById("input2").value;
    var palabra3 = document.getElementById("input3").value;
    var palabra4 = document.getElementById("input4").value;
    var palabra5 = document.getElementById("input5").value;
    var palabra6 = document.getElementById("input6").value;
    var palabra7 = document.getElementById("input7").value;
    var palabra8 = document.getElementById("input8").value;
    var resultado = `
Write like an SEO expert and ${palabra1} an article for my website's blog ${palabra8}. Follow these guidelines:
1. Resolve the search intent of a user who wants to know ${palabra2}.
2. The post should be ${palabra3} words long.
3. The main keyword for SEO optimizations is ${palabra4}.
4. The secondary keywords are ${palabra5}, ${palabra6}, and ${palabra7}.
5. Include a single H1 at the beginning.
6. You can use as many H2s and H3s as you think necessary to satisfy the search intent of the article, it's not necessary to optimize all of them for keywords.
7. The article should be informational, as users are at the first level of awareness of the customer journey, far from making a purchase.
8. Maximize user retention, so they finish reading the article, use an open loop at the beginning to generate intrigue.
9. Do not add content that does not provide value, do not invent data, the entire article must be useful.
10. Use direct and simple language, understandable by a 10-year-old child.
The following structure should be followed, as it is a markdown document
      ---
subtitle: blog subtitle
title: blog title
date: current date in 2023-06-19 format
date: current date in day of month of year format
tags: ["tag1", "tag2"]
image: /assets/static/images/nameoftheimagefrom1to10.jpg
imageAlt: alternative text for the image
eleventyComputed:
  metaTitle: Here goes the meta title occupies a single line and should have a maximum of 60 characters, The meta title offers users a quick view of the content of the content. In addition to descriptive it has to be attractive and we will use | as a separator.
  metaDescription: This meta description should contain between 140-160 characters. It should be written with the intention of getting more clicks. We should use at least one emoji. Write your call to action (CTA) better in imperative and at the end of the text.
  metaKeywords: "${palabra5},${palabra6},${palabra7}"
  metaRobots: "index, follow"
---
Content of the blog of about ${palabra3} words Here we will put the blog content generated by chat gpt with the previously mentioned guidelines  
`;



    document.getElementById("resultado").textContent = resultado;
    document.getElementById("contador").textContent = "Counter words " + contarPalabras(resultado);
  }
  function contarPalabras(texto) {
    var palabras = texto.split(" ");
    return palabras.length;
  }



  function copiarTexto() {

    event.preventDefault();

    var resultado = document.getElementById("resultado").textContent;
    // Crear un elemento de texto temporal
    var tempInput = document.createElement("input");
    tempInput.value = resultado;
    document.body.appendChild(tempInput);
    // Seleccionar y copiar el texto en el elemento temporal
    tempInput.select();
    tempInput.setSelectionRange(0, 99999); // Para dispositivos móviles
    document.execCommand("copy");
    document.body.removeChild(tempInput);
    alert("Copied!! " + resultado);
  }
</script>