<footer class=" front-section  bg-dark has-light ">
  <div class="container-global mx-auto  pt-64 pb-64 ">
    <div class="row text-12-r ">
      <div class="col-xs-12 col-sm-4 sm:text-center text-left mb-16">
        <div class="fluid-8-r mb-16">
          Únete a la newsletter
        </div>
        <div class="text-14-r mb-16">
          Se el primero en enterarte de todo
        </div>
        <div class="pb-32"><a href="/unirte-a-newsletter"><button class="btn btn-primary btn--mini "> Únete ahora</button></a></div>


      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <ul class="list-clear list-inline fluid-8-r">
          <li class="pr-16"> <a class="menu-desktop" href="/">Design systems </a> </li>
          <li class="pr-16"> <a  class="menu-desktop" href="/blog">Blog </a></li>
          <li class="pr-16"> <a  class="menu-desktop" href="/cursos">Cursos </a></li>
          <li class="pr-16"> <a  class="menu-desktop" href="/about">About</a></li>
        </ul>

      </div>
      <div class="col-xs-12 col-sm-6 sm:text-center   text-right mb-16">
        <a href="/legal/aviso" class="fluid-7-r"> seopromptsgenerator.com </a>
      </div>
    </div>
    </div>
</footer>