.menu-mobile {
  display: block;
  @media (min-width: $break-lg) {
    display: none;
  }
}
.menu-desktop {
  display: none;
  white-space: nowrap;
  @media (min-width: $break-lg) {
    display: flex;
  }


}


#menu-toggle {
  position: relative;
  z-index: 9999;
  cursor: pointer;
}
.menu-mobile-wrap {
  position: fixed;
  z-index: 9998;
  background: $c-primary;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  left: -100vw;
  transition: left 0.24s ease-out;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-y: auto;
  .menu-mobile-list li {
    list-style: none;
    margin: 20px 0;
    a {
      color: #fff;
      text-decoration: none;
      font-size: 1.1rem;
      display: block;
      padding: 8px 16px;
    }
  }
  ul.list-clear li {
    list-style: none;
    margin: 24px 0;
    a {
      color: #fff;
    }
  }


.scrolled &{
color: #fff;

}


}
.menu-toogle-bars {
  span {
    width: 15px;
    height: 1px;
    background-color: white;
    display: block;
    margin: 3px;
  }
}
.scrolled {
  .menu-mobile {
    color: $c-primary;
    span {
      background-color: $c-primary;
    }
  }
  &.menu-open {
    .menu-mobile {
      color: $c-white;
      span {
        background-color: $c-white;
      }
    }
  }
}
.menu-open {
  .menu-mobile-wrap {
    left: 0;
  }
  &.scrolled header a {
    color: #ffffff;
  }
  &.scrolled header .menu-mobile a {
    color: #ffffff;
  }
  &.scrolled header svg path {
    fill: #ffffff;
  }
}

.menu-desktop{
  background-image: linear-gradient(180deg,transparent 0%,#272422 0);
  background-size: 0 1px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  transition: background-size .4s ease;
  font-size: 20px;
  letter-spacing: 0;
  &:hover{
    background-position: 0% 100%;
    background-size: 100% 1px;
  }


}
